@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primary: #33A8DB;
    --font-primary: "Raleway", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
}

a,
a:visited {
    text-decoration: none;
}

body {
    background: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--cor-primary);
}

p {
    color: #fff;
}

header.banner {
    padding: 40px;
    padding-bottom: 120px;
    margin: 0 auto;
    background-size: cover;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 2%, rgba(51, 168, 219, 0.15) 25%, rgba(0, 0, 0, 0.6) 100%), url(./assets/images/banner.png);
}

header.banner div.banner-content {
    text-align: center;
    display: flex;
    height: 100%;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 520px;
    margin: 0 auto;
}

div.logo {
    background: rgb(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 12px;
    width: 268px;
    height: 268px;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

header.banner div.banner-content h1 {
    color: var(--cor-primary);
    background: linear-gradient(0deg, #1472B7 0%, var(--cor-primary) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
}

header.banner div.banner-content p {
    font-size: 20px;
}

header.banner div.banner-content button {
    color: var(--cor-primary);
    border-width: 2px;
    border-image: linear-gradient(0deg, #1472B7 0%, var(--cor-primary) 100%);
    border-image-slice: 1;
    padding: 24px 80px;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    background-color: transparent;
    text-transform: uppercase;
    margin-top: 24px;
    letter-spacing: 0.21em;
    cursor: pointer;
    transition-duration: 500ms;
    position: relative;
    z-index: 2;
}

header.banner div.banner-content button:hover {
    color: #fff;
}

header.banner div.banner-content button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, #1472B7 0%, var(--cor-primary) 100%);
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

header.banner div.banner-content button:hover::before {
    z-index: -1;
    opacity: 1;
}

section#course-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 80px 40px;
    padding-bottom: 144px;
    text-align: center;
    max-width: 800px;
}

section#course-content h2 {
    color: var(--cor-primary);
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 800;
}

section#course-content p {
    font-size: 16px;
}

section#course-content div.modules-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

section#course-content div.modules-list div.module {
    color: #fff;
    max-width: 600px;
    margin: 0 24px;
    background: #252525;
    padding: 16px;
    width: 100%;
    box-shadow: inset #000 -2px 6px 15px;
    border-radius: 60px;
    border: 1px solid var(--cor-primary);
    font-family: var(--font-primary);
}

section#course-content div.modules-list div.module span {
    color: var(--cor-primary);
}

section#transform-world {
    background: url(./assets/images/woman-code.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}

section#transform-world p {
    font-size: 40px;
    font-weight: 900;
    text-shadow: 3px 2px var(--cor-primary);
    width: 244px;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}

section#professional-challenges {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 80px 40px;
    width: calc(100% - 80px);
    margin: 0 auto;
}

section#professional-challenges h2 {
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    max-width: 759px;
    letter-spacing: 0.19em;
}

section#professional-challenges img {
    max-width: 650px;
    width: 100%;
}

section#professional-challenges p {
    font-size: 16px;
    width: 100%;
    max-width: 790px;
    text-align: center;
}

footer {
    background: linear-gradient(0deg, rgba(51, 168, 219, 0.2) 0%, rgba(0, 0, 0, 1) 80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 144px;
    gap: 16px;
}

footer img {
    height: 44px;
}

footer p {
    font-size: 16px;
}

footer p a {
    color: var(--cor-primary);
}